{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="shadowed col-sm-12 col-md-10 offset-md-1 bs-jumbo p-5">
<h5>Admin Section</h5>

<p><a href="admin/projects">View Projects</a></p>
<p><a href="admin/projects/create">Create Project</a></p>

</div>
{% endblock %}
