{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="shadowed col-sm-12 col-md-10 offset-md-1 bs-jumbo p-5">
<h5>Admin Section</h5>

</div>
{% endblock %}
